<div class="col-md-12">
    {% set file_field = ez_field_value(content,"file") %}
    {% set thumbnail_field = ez_field_value(content,"thumbnail") %}
    
    {% set width = file_field.width is defined ? file_field.width ~ 'px' : '100%' %}
    {% set height = file_field.height is defined ? file_field.height ~ 'px' : 'auto' %}
    {% set style = 'width: ' ~ width ~ '; height: ' ~ height ~ ';' %}
    {% set title = thumbnail_field.alternativeText is defined ? thumbnail_field.alternativeText : '' %}

    <video class="video-player" style="{{ style }}"
            {%- if thumbnail_field|length %}poster="{{ thumbnail_field }}"{% endif -%}
            {%- if title|length %}title="{{ title }}"{% endif -%}
            {%- if file_field.hasController %} controls{%- endif -%}
            {%- if file_field.autoplay %} autoplay{%- endif -%}
            {%- if file_field.loop %} loop{%- endif -%}
    >
        <source src="{{ file_field }}" type="video/mp4">
        <source src="{{ file_field }}" type="video/ogg">
        {{ 'Your browser doesn\'t support HTML5 video.'|trans }}
    </video>
</div>
